@mixin flexbox {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  height: auto;
//   background-color: rgb(247, 247, 247);
  list-style: none;
  @include flexbox();
  padding-top: 2%;
  padding-bottom: 5%;
}

.div_btn {
  @include flexbox();
  width: 100%;
  margin-top: 20px; 
  padding-bottom: 10%;
  .btn_seeMore {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(151, 66, 126);
    color: white;
    position: absolute;
    outline: none;
  }
}
